tr:nth-child(odd) {
    background-color: #F7F7F7;
}

tr:nth-child(even) {
    background-color: white
}

td.hierarchy {
    background-color: inherit;
    vertical-align: top;
    text-align: left;
    border: 0px #F0F0F0 solid;
    padding: 0px 4px 0px 4px;
}

.app {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

textarea.subtle,
input.subtle {
    resize: none;
    border: 0;
    padding: 0px;
    background-color: inherit;
    vertical-align: inherit;
}

h1 {
    font-size: 25.2px;
}

input,
textarea,
select,
.select {
    font-family: verdana;
    font-size: inherit;
    field-sizing: content;
}

div.select,
.select div {
    padding: 0px
}

.select div {
    min-height: 0px;
}

.type,
.type>span {
    display: flex;
}

.select .select__control,
select {
    border: none;
    outline: none;
    box-shadow: none;
    min-height: none;
    cursor: pointer;
    background-color: inherit;
}

.select__indicator-separator {
    display: none;
}

.select__input-container {
    display: none !important;
}